<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"  crossorigin="anonymous">
	<!-- fancyBox CSS -->
	<link href="css/jquery.fancybox.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
    <title>Swiss-knife</title>
  </head>
<body>
<div class="container">
	<div class="col-sm"><img src="img/logo.png" class="center"></div>
	<div class="d-flex justify-content-center">
		<div class="p-2"><i>Coronavirus Statistics</i>
			<div class="col-sm block">
				<script src="https://apps.elfsight.com/p/platform.js" defer></script>
				<div class="elfsight-app-8ed3c46c-ef8d-494a-ab54-59a482f5d2e0"></div>
			</div>
		</div>
		<div class="p-2"><i>Weather</i>
			<div class="col-sm block">
			<script src="https://apps.elfsight.com/p/platform.js" defer></script>
			<div class="elfsight-app-6d632e6d-04d4-47ba-8e50-abe0c3aa97eb"></div>
			</div>
		</div>
		<div class="p-2"><i>News Block</i><div class="col-sm block">Info</div></div>
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"  crossorigin="anonymous"></script>
	<script src="/js/user.js"></script>
	
</body>
</html>