<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"  crossorigin="anonymous">
	<!-- fancyBox CSS -->

	<script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendar.css')}}">
    <title>Swiss-knife</title>
  </head>
<body>
<div class="container">
	<div class="top-nav">
		<a href="/login" style="color:white">Login</a>
		<a href="/register"style="color:white">Register</a>
	</div>
	<div class="col-sm"><img src="{{ url_for('static', filename='img/logo.png')}}" class="center"></div>
	<div class="d-flex justify-content-center" id="widgets">
		<!-- widgets -->
	</div>
	<div class="d-flex justify-content-center" id="widgets2">
		<!-- widgets -->
	</div>
</div>
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{ url_for('static', filename='/js/bootstrap.min.js')}}"  crossorigin="anonymous"></script>	
</body>
	<script type="text/javascript" src="../static/js/index.js"></script>
	<script type="text/javascript" src="../static/js/drag&drop.js"></script>
	<script type="text/javascript" src="../static/js/widgetList.js"></script>
	<script type="text/javascript" src="../static/js/widget.js"></script>
</html>