<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"  crossorigin="anonymous">
	<!-- fancyBox CSS -->

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Swiss-knife</title>
</head>
<body>
	<div class="container">
	<div class="container">
	<div class="top-nav">
		<a href="/login" style="color:white">Login</a>
		<a href="/register"style="color:white">Register</a>
	</div>
	<div class="col-sm"><img src="{{ url_for('static', filename='img/logo.png')}}" class="center"></div>
			<div class="d-flex justify-content-center">
				<div class="wrap-login100">

					<form action='/newuser' method='POST' class="login100-form validate-form">
						<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
							<span class="label-input100">Username</span>
							<input class="input100" type="text" name="user_name" required placeholder="Enter username">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
							<span class="label-input100">Password</span>
							<input class="input100" type="password" name="user_password" required minlength="8" placeholder="Enter password">
							<span class="focus-input100"></span>
						</div>
						
						<div class="wrap-input100 validate-input m-b-26" data-validate = "E-mail is required">
							<span class="label-input100">E-mail</span>
							<input class="input100" type="e-mail" name="user_email" required placeholder="Enter e-mail">
							<span class="focus-input100"></span>
						</div>

						<div class="container-login100-form-btn" style="text-align:center;margin-top:10px;">
							<button class="login100-form-btn">
								Register
							</button>
						</div>
					</form>
				</div>
			</div>
	</div>
	
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js')}}"  crossorigin="anonymous"></script>

</body>
</html>